@import url("https://fonts.googleapis.com/css?family=Lobster");

.containerHome {
  display: flex;
  flex-direction: column;
  background-color:  #bba;
  height: 950px;
  
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  font-family: "Lobster", cursive;
  font-size: 30px;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-decoration: none;
  padding: 0;
  
}

li{
  font:25px;
}

ul {
  list-style: none;
  
}

.button li .login,
.register,
.information,
.contact {
  font-family: Arial;
  text-decoration: none;
  float: left;
  padding: 10px 20px 10px 20px;
  background-color: #2175bc;
  color: #fff;
  border-radius: 15px;
  margin: 10px;
  font-size: 15px;
  font-family: cursive;
  box-shadow: 7px 13px 37px #000;
}

.button li .login:hover,
.contact:hover,
.information:hover,
.register:hover {
  background-color: #2586d7;
  margin-top: -2;
  padding-bottom: 12px;
  
}

.footer {
  position: relative;
  display: flex;
  justify-content: center;
  top: 90%;
  width: 100%;
  background-color: #4e4d4d;
  color: #fff;
  text-align: center;
  padding: 1em;
  align-self: flex-end;
  font-family: cursive;
  
}

h1 {
  font-weight: 100;
  color: #1089f0;
  display: flex;
}

