.login-container {
  display: flex;
  justify-content: center;
  height: 950px;
}

.containerLogin {
  width: 400px;
  height: 400px;
  margin: auto;
  margin-top: 180px;
  padding: 20px 30px;
  border-top: 4px solid #017bab;
  box-shadow: 7px 13px 37px #000;
  background-color: #4e4d4d;
  color: white;
  font-family: cursive;
}

h5 {
  height: 40px;
  margin: 0;
  margin-bottom: 30px;
  text-align: center;
  border-bottom: 1px solid;
  font-size: 20px;
}

.btnLinks p {
  height: 40px;
  text-align: center;
  border-bottom: 1px solid;
}

.btnCreateAccount,
.btnHome {
  text-decoration: none;
  color: white;
  font-size: 14px;
}

.clipLoader {
  display: flex;
  justify-content: center;
  margin-bottom: 500px;
}

.bad-credentials {
  display: flex;
  justify-content: center;
}

#passwordLogin,
#emailLogin {
  width: 95%;
  padding: 11px 10px;
  margin-bottom: 15px;
  border: 1px solid #017bab;
  border-radius: 12px;
  background: #252323;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
}

.btnLogin {
  width: 100%;
  height: 40px;
  margin-bottom: 16px;
  border-radius: 12px;
  border: none;
  background: #017bab;
  color: white;
}

.btnCreateAccount:hover,
.btnHome:hover {
  text-decoration: unde;
}
